@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
*{margin:0px; padding:0px;outline: 0px;}
body{
	background: url(images/bg.png) repeat fixed 0 0 #fff;
	line-height:18px;
	font-family: arial;
	font-weight:14px;
}
.page-wrap{
	width: 80%;
	height:auto;
	margin: 0px auto;
	padding:0px 2px;
	background:#89A17D none repeat scroll 0 0;

}
.head{
	background:#41DAD8 none repeat scroll;
	width:100%;
	height:220px;
	overflow:hidden;
}
.logo
{
	margin-top:5px;
	float: left;
	margin-left:5px;
}
.name
{
	float:left;
	padding:70px 30px;

	color: #F41A8B;
	font-size:20px;
	font-style:italic;
	overflow:hidden;
}
/*-------search style--------*/
.search
{
	float:left;
	margin-top:75PX;
	padding-right:30px;
	overflow: hidden;
}
.search #searchh{
	width:200px;
	height:30px;
	border-radius:4px;
	padding-left: 7px;
	float:left;
}
.search #ok{
	width:50px;
	height:40px;
	border-radius:9px;
	color:#3131EA;
}
.search #ok:hover{
	color:#F47518;
	background:#FFF;
}
/*--------login style--------*/
.login label{
	color:blue;
	font-size:16px;
	padding-right:5px;
}
.login form{
	padding-top:10px;
	overflow: hidden;

}
.login input[type="text"],input[type="password"]{
	width:180px;
	height:10px;
	border-radius:5px;
	color:gray;
	margin-bottom: 5px;
	padding:10px;

}

.login input[type="submit"]{
	width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	clear:both;
	margin-top:5px;
	margin-left:130px;
}
.login input[type="submit"]:hover{
color:red;
background:#FFF;
}
.login #new-account{
text-decoration: none;
font-size:16px;
cursor:pointer;
color:#7C7777;
padding-left:30px;
padding-bottom:10px;
}
.login #new-account:hover{
	color:blue;
	text-decoration:underline;
	
}
.top-menu li ul { display:none;}                       /*--for hiding dropdown menu item --*/

.top-menu li:hover ul{ display:block;}           /*--for showing dropdown menu item (hover)--*/

.top-menu ul{padding: 0px; }                          /*--for stright below menu item--*/

.top-menu li{ display:block;                              /*--for removing bullets--*/
float:left;                                       /*--for horizontal line--*/
width:150px;                                /*--for menu width--*/
background-color:pink;            /*--for normal background--*/
text-align:center;}                       /*--for text alignment--*/

.top-menu a{ text-decoration:none; 
clear: both;               /*--for removing underline from link--*/
font-family:verdana;  
text-transform:uppercase;
font-weight: bold;                /*--for font style--*/
display:block;                               /*--for link to cover menu width--*/
padding:15px;}  
.top-menu a.home{
	color: #08F635;
	}                             /*--for padding menu item (link)--*/

.top-menu li a:hover{ color:lime;                       /*--for hover text color--*/
background-color:red;}            /*--for hover background color--*/

.top-menu{
	width: 700px;
	height:50px;                         /*--please select hide and width as you need--*/
margin-left:25%;
margin-top:10px;
border-radius:10px;
overflow:hidden;
float: left;
}   
.top-menu a:after{
	color:green;
}
.slidersection img{
	width:200px;
	overflow: hidden;
	height: 200px;
	float: left;
	margin-top: 100px;

}.dropdown{

	margin-top:100px;
	width:250px;
	height:150px;
	float:left;
	background:#7EA89E;
	text-align:center;
	padding-top:20px;
	margin-left:20px;


}
.dropdown h2{
	text-transform:uppercase;
	font-size:25px;
	color:#85F814;
	text-align:center;
	padding-bottom:10px;
}
.dropdown ul li{
	list-style-type:none;
}
.dropdown ul li a{
	text-decoration: none;
	color:#0F15F4;
}
.dropdown a:hover{
	color:red;
	background:#FFF;
}
.samesidebar{
	margin:0px auto;
	height:30%;
	width:70%;
	overflow: hidden;
	clear: both;
	padding-top:20px;
}
.samesidebar h2{
	color:#FA860A;
	font-family: arial;
	font-style:initial;
	font-size: 25px;
	margin: 0px auto;
	overflow:hidden;
	clear: both;
	padding-top:14px;
	background:#284F57 none repeat scroll 0 0;
	width:300px;
	text-align: center;
	height:50px;

}
.popular{
	margin:0px auto;
	border:1px solid yellow;
	padding:10px 20px;
	margin-top:20px;
}
.popular img p{
	clear:right;
}
.footer{
height:70px;
width:100%;
overflow: hidden;
margin-top:5px;
background:gray none repeat scroll 0 0;
overflow:hidden;
}
.footer h2{
	text-align:center;
	color: green;
	font-size:20px;
	padding:20px;
	clear: both;
}
.pagination{ 
	display:block;
	font-size:20px;
	padding:10px;
	margin:10px;
	text-align: center;
 }
.pagination a{
	margin-left:2px;
	background: pink none repeat scroll 0 0;
	color: #333;
	border-radius: 3px;
	padding:2px 10px;
	text-decoration: none;

}
.pagination a:after{
	background:red;
}
.pagination a:hover{
	background:#FFF;
	color:red;
}
.slidersection{
	margin:0px auto;
	width:900px;
}
.slidersection img{
	padding:2px 5px;
	margin:0 auto;
	margin-top: 10px;

}
.slidersection h3{
	margin-top: 20px;
	text-align: center;
	font-size:22px;
	font-family: arial;
	color:green;
	padding-top:10px;
	height:50px;
	background:#41DAD8 none repeat scroll 0 0;
	border:1px solid green;
	overflow: hidden;
}
/*-------------404 page----------*/
.not_found{
	min-height: 400px;
	padding-top: 100px;
}
.not_found p{
	font-size: 100px;
	font-weight: bold;
	line-height: 137px;
	text-align: center;

}
.not_found span{
	  color: #ff0000;
  display: block;
  font-size: 200px;
}