
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
*{margin:0px; padding:0px;outline: 0px;}
body{
	background: url(images/bg.png) repeat fixed 0 0 #fff;
	line-height:18px;
	font-family: arial;
	font-weight:14px;
}
.page-wrap{
	width: 80%;
	height:auto;
	margin: 0px auto;
	padding:0px 2px;
	background:#89A17D none repeat scroll 0 0;

}
table{
margin:0px 25%;
height:400px;
width:500px;
		
	}
 input[type="text"],input[type="email"],input[type="password"]{
	 text-align:center;
	 border-radius:7px;
	 height:30px;
	 width:250px;
	 margin-left:10px;
 }
 table td{
color:blue;
font-size:20px;
text-align:center;
 }
 input[type="submit"],input[type="reset"]{
	 height:40px;
	 width:55px;
	 color:blue;
	 border-radius:5px;
	 margin-left:5px;
 }
  input[type="submit"]:hover,input[type="reset"]:hover{
	  color:red;
background:#A6E18F;
  }
  #back a{
	color:blue;
font-size:20px;
text-decoration:none;	
  }
    #back a:hover{
			  color:red;
			background:#A6E18F;
			text-decoration:underline;
	}