*{margin:0px; padding:0px;outline: 0px;}
body{
	background: url(images/bg.png) repeat fixed 0 0 #fff;
	line-height:18px;
	font-family: arial;
	font-weight:14px;
}
.page-wrap{
	width: 80%;
	height:auto;
	margin: 0px auto;
	padding:0px 2px;
	background:#89A17D none repeat scroll 0 0;

}
.head{
	background:#41DAD8 none repeat scroll;
	width:100%;
	height:180px;
	overflow:hidden;
}
.logo
{
	margin-top:5px;
	float: left;
	margin-left:5px;
}
.name
{
	float:left;
	padding:70px 30px;
	color: #F41A8B;
	font-size:20px;
	font-style:italic;
	overflow:hidden;
}
.admin label{
	color:blue;
	font-size:16px;
	padding-right:5px;
}
.admin a:hover{
	color:red;
	background: #FFF;
}
}.dropdown{

	margin-top:100px;
	width:250px;
	height:150px;
	float:left;
	background:#7EA89E;
	text-align:center;
	padding-top:20px;
	margin-left:20px;
}
.dropdown h2{
	text-transform:uppercase;
	font-size:25px;
	color:#85F814;
	text-align:center;
	padding-top:10px;
	padding-right:80%;
}
.dropdown ul li{
	list-style-type:none;
}
.dropdown ul li a{
	text-decoration: none;
	color:pink;
	padding-left:80px;
	padding-top: 10px;
}
.dropdown a:hover{
	color:red;
}
#test{
			
			border-radius:3px;
			margin: 5px;
			height:400px;
			width:700px;
			}
	.sliding_content_area{
		
		margin-left:25%;
		margin-bottom:10%;
	}
	.footer{
height:70px;
width:100%;
overflow: hidden;
margin-top:5px;
background:gray none repeat scroll 0 0;
overflow:hidden;
}
.footer h2{
	text-align:center;
	color: green;
	font-size:20px;
	padding:20px;
	clear: both;
}
	/*---------Login page style---------*/
	.login{
		width:500px;
		margin:0px auto;
		height: 300px;
		background:gray;
		margin-top:10%;
		text-align: center;
	}
	.login h2{
		color:green;
		font-size: 30px;
		text-align:center;
		padding-top:40px;
	}
	.login label{
	color:white;
	font-size:16px;
	padding-right:5px;
}
.login form{
	padding-top:10px;
	overflow: hidden;

}
.login input[type="text"],input[type="password"]{
	width:180px;
	height:10px;
	border-radius:5px;
	color:gray;
	margin-bottom: 5px;
	padding:10px;

}

.login input[type="submit"],input[type="reset"]{
	width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	overflow:hidden; 
	margin-top:5px;
	margin:0px auto;
}
.login input[type="submit"]:hover{
color:red;
background:#FFF;
}
/*----------end login page---------*/
/*=====================================
		Addcatagory page style
=======================================*/
.tabel{
	width:300px;
	height:100px;
	margin: 0px auto;
	margin-top:20%;
}
.tabel input[type="text"]{
	width:280px;
	height:10px;
	border-radius:5px;
	color:gray;
	margin-bottom: 5px;
	padding:10px;
}
.tabel input[type="submit"]{
    width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	overflow:hidden; 
	margin-top:5px;
	margin-left:250px;

}
.tabel input[type="submit"]:hover{
color:red;
background:#FFF;
}
.tabel p{
	color:blue;
	font-size: 22px;
	padding-bottom: 100px;
	padding-left:30px;
}
.error{
	color: red;
	font-size:20px;
}
.success{
	color:green;
	font-size:20px;
}
/*-------add_post-------*/
.tinymce{
	width:500px;
	height:400px;
}
.post {
	margin:0px auto;
	margin-left: 20%;
	margin-top:5%;
}
.post table td{
padding-top:5px;
}
.post h2{
	color:green;
	font-size:20px;
	font-family: arial;
	padding-left:25%;
	background:gray;
	width:310px;
	height:40px;
	padding-top:10px;
	border-radius:5px;
}
.post #select{
	width:150px;
	height:30px;
	border-radius:5px;
	text-align: center;
}
.post input[type="submit"]{
    width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	overflow:hidden; 
	margin-top:5px;
	margin-left:50px;

}
.post input[type="submit"]:hover{
color:red;
background:#FFF;
}
.post input[type="text"]{
	width:400px;
	height:30px;
	border-radius:5px;
	}
	/*---------addcatagory-----------*/
	.catagory{
		color:green;
		margin:0px auto;
		padding-bottom:100px;
		padding-left:40px;
		font-size:22px;
	}
/*--------------header_changer.php page-------*/
.header_changer{
	margin-top:10%;
	margin-left:10%;
	
}
.header_changer h1{
	color: green;
	font-family: arial;
	font-size: 22px;
	padding-bottom:10px;
	padding-left:50px;
	overflow: hidden;

}
.header_changer input[type="text"]{
	width:280px;
	height:10px;
	border-radius:5px;
	color:gray;
	margin-bottom: 5px;
	padding:10px;
}
.header_changer input[type="submit"]{
    width:65px;
	cursor:pointer;
	height:40px;
	border-radius:7px;
	color:blue;
	font-size:16px;
	overflow:hidden; 
	margin-top:5px;
	margin-left:50px;

}
.header_changer input[type="submit"]:hover{
color:red;
background:#FFF;
}
.header_changer label{
	color: green;
	font-size:18px;
}
.header_changer .left_side{
		float:left;
	width:70%;
}
.header_changer .right_side{
float:left;
width:20%;
}
.right_side img{
width: 150px;
height: 150px;
}